{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "{{ synapse_public_baseurl }}",
      "server_name": "{{ synapse_server_name }}"
    }
  },
  "brand": "Element",
  "disable_guests": true
}
