# {{ ansible_managed }}
version: 1

formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'

filters:
  context:
    (): synapse.logging.context.LoggingContextFilter
    request: ""

handlers:
  file:
    class: logging.handlers.RotatingFileHandler
    formatter: precise
    filename: {{ synapse_log_dir }}/homeserver.log
    maxBytes: 104857600
    backupCount: 10
    filters: [context]
    level: {{ synapse_log_level }}
  console:
    class: logging.StreamHandler
    formatter: precise
    filters: [context]
    level: WARN

loggers:
  synapse.storage.SQL:
    level: {{ synapse_log_level }}

root:
  level: {{ synapse_log_level }}
  handlers: [file, console]
